<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Log4j</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="baa398">  <td>19/10/27 12:06:57</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;GoogleTest.getResult(org.testng.ITestResult, java.lang.String, java.lang.String)[pri:0, instance:google.GoogleTest@2f67b837]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>TestNG-test=Google-1@1936011931</td>   <td></td> </tr>
<tr bgcolor="66a265">  <td>19/10/27 12:06:59</td>   <td>2592</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ExtentReport.getResult(org.testng.ITestResult)[pri:0, instance:google.GoogleTest@2f67b837]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>TestNG-test=Google-1@1936011931</td>   <td></td> </tr>
<tr bgcolor="baa398">  <td>19/10/27 12:07:12</td>   <td>15749</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;GoogleTest.getResult(org.testng.ITestResult, java.lang.String, java.lang.String)[pri:0, instance:google.GoogleTest@2f67b837]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>TestNG-test=Google-1@1936011931</td>   <td></td> </tr>
<tr bgcolor="66a265">  <td>19/10/27 12:07:14</td>   <td>17826</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ExtentReport.getResult(org.testng.ITestResult)[pri:0, instance:google.GoogleTest@2f67b837]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>TestNG-test=Google-1@1936011931</td>   <td></td> </tr>
<tr bgcolor="baa398">  <td>19/10/27 12:07:27</td>   <td>30591</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;GoogleTest.getResult(org.testng.ITestResult, java.lang.String, java.lang.String)[pri:0, instance:google.GoogleTest@2f67b837]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>TestNG-test=Google-1@1936011931</td>   <td></td> </tr>
<tr bgcolor="66a265">  <td>19/10/27 12:07:28</td>   <td>31719</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ExtentReport.getResult(org.testng.ITestResult)[pri:0, instance:google.GoogleTest@2f67b837]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>TestNG-test=Google-1@1936011931</td>   <td></td> </tr>
<tr bgcolor="666c7d">  <td>19/10/27 12:07:43</td>   <td>45890</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AmazonTest.getResult(org.testng.ITestResult, java.lang.String, java.lang.String)[pri:0, instance:amazon.AmazonTest@76a2ddf3]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>TestNG-test=Amazon-1@2078113263</td>   <td></td> </tr>
<tr bgcolor="66a265">  <td>19/10/27 12:07:45</td>   <td>48614</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ExtentReport.getResult(org.testng.ITestResult)[pri:0, instance:amazon.AmazonTest@76a2ddf3]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>TestNG-test=Amazon-1@2078113263</td>   <td></td> </tr>
<tr bgcolor="666c7d">  <td>19/10/27 12:07:59</td>   <td>62545</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AmazonTest.getResult(org.testng.ITestResult, java.lang.String, java.lang.String)[pri:0, instance:amazon.AmazonTest@76a2ddf3]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>TestNG-test=Amazon-1@2078113263</td>   <td></td> </tr>
<tr bgcolor="66a265">  <td>19/10/27 12:08:00</td>   <td>63810</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ExtentReport.getResult(org.testng.ITestResult)[pri:0, instance:amazon.AmazonTest@76a2ddf3]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>TestNG-test=Amazon-1@2078113263</td>   <td></td> </tr>
<tr bgcolor="666c7d">  <td>19/10/27 12:08:15</td>   <td>78173</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AmazonTest.getResult(org.testng.ITestResult, java.lang.String, java.lang.String)[pri:0, instance:amazon.AmazonTest@76a2ddf3]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>TestNG-test=Amazon-1@2078113263</td>   <td></td> </tr>
<tr bgcolor="66a265">  <td>19/10/27 12:08:17</td>   <td>80832</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ExtentReport.getResult(org.testng.ITestResult)[pri:0, instance:amazon.AmazonTest@76a2ddf3]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>TestNG-test=Amazon-1@2078113263</td>   <td></td> </tr>
<tr bgcolor="66a265">  <td>19/10/27 12:06:42</td>   <td>-14953</td> <td title="&gt;&gt;ExtentReport.setUp()[pri:0, instance:amazon.AmazonTest@76a2ddf3]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1839962989</td>   <td></td> </tr>
<tr bgcolor="66a265">  <td>19/10/27 12:08:18</td>   <td>80923</td> <td title="&lt;&lt;ExtentReport.tearDown()[pri:0, instance:amazon.AmazonTest@76a2ddf3]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1839962989</td>   <td></td> </tr>
<tr bgcolor="baa398">  <td>19/10/27 12:06:42</td>   <td>-14588</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;GoogleTest.testSetUp()[pri:0, instance:google.GoogleTest@2f67b837]">&gt;&gt;testSetUp</td> 
<td>&nbsp;</td>  <td>TestNG-test=Google-1@1936011931</td>   <td></td> </tr>
<tr bgcolor="baa398">  <td>19/10/27 12:06:59</td>   <td>2609</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;GoogleTest.testSetUp()[pri:0, instance:google.GoogleTest@2f67b837]">&gt;&gt;testSetUp</td> 
<td>&nbsp;</td>  <td>TestNG-test=Google-1@1936011931</td>   <td></td> </tr>
<tr bgcolor="baa398">  <td>19/10/27 12:07:14</td>   <td>17830</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;GoogleTest.testSetUp()[pri:0, instance:google.GoogleTest@2f67b837]">&gt;&gt;testSetUp</td> 
<td>&nbsp;</td>  <td>TestNG-test=Google-1@1936011931</td>   <td></td> </tr>
<tr bgcolor="666c7d">  <td>19/10/27 12:07:29</td>   <td>31957</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AmazonTest.testSetUp(java.lang.String)[pri:0, instance:amazon.AmazonTest@76a2ddf3]">&gt;&gt;testSetUp</td> 
<td>&nbsp;</td>  <td>TestNG-test=Amazon-1@2078113263</td>   <td></td> </tr>
<tr bgcolor="666c7d">  <td>19/10/27 12:07:45</td>   <td>48629</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AmazonTest.testSetUp(java.lang.String)[pri:0, instance:amazon.AmazonTest@76a2ddf3]">&gt;&gt;testSetUp</td> 
<td>&nbsp;</td>  <td>TestNG-test=Amazon-1@2078113263</td>   <td></td> </tr>
<tr bgcolor="666c7d">  <td>19/10/27 12:08:01</td>   <td>64039</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AmazonTest.testSetUp(java.lang.String)[pri:0, instance:amazon.AmazonTest@76a2ddf3]">&gt;&gt;testSetUp</td> 
<td>&nbsp;</td>  <td>TestNG-test=Amazon-1@2078113263</td>   <td></td> </tr>
<tr bgcolor="666c7d">  <td>19/10/27 12:07:42</td>   <td>45841</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AmazonTest.verifyAmazonPageTitle1()[pri:0, instance:amazon.AmazonTest@76a2ddf3]">verifyAmazonPageTitle1</td> 
  <td>TestNG-test=Amazon-1@2078113263</td>   <td></td> </tr>
<tr bgcolor="666c7d">  <td>19/10/27 12:07:59</td>   <td>62491</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AmazonTest.verifyAmazonPageTitle2()[pri:0, instance:amazon.AmazonTest@76a2ddf3]">verifyAmazonPageTitle2</td> 
  <td>TestNG-test=Amazon-1@2078113263</td>   <td></td> </tr>
<tr bgcolor="666c7d">  <td>19/10/27 12:08:15</td>   <td>78143</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AmazonTest.verifyAmazonPageTitle3()[pri:0, instance:amazon.AmazonTest@76a2ddf3]">verifyAmazonPageTitle3</td> 
  <td>TestNG-test=Amazon-1@2078113263</td>   <td></td> </tr>
<tr bgcolor="baa398">  <td>19/10/27 12:06:56</td>   <td>-744</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GoogleTest.verifyGooglePageTitle1()[pri:0, instance:google.GoogleTest@2f67b837]">verifyGooglePageTitle1</td> 
  <td>TestNG-test=Google-1@1936011931</td>   <td></td> </tr>
<tr bgcolor="baa398">  <td>19/10/27 12:07:12</td>   <td>15036</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GoogleTest.verifyGooglePageTitle2()[pri:0, instance:google.GoogleTest@2f67b837]">verifyGooglePageTitle2</td> 
  <td>TestNG-test=Google-1@1936011931</td>   <td></td> </tr>
<tr bgcolor="baa398">  <td>19/10/27 12:07:27</td>   <td>30033</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GoogleTest.verifyGooglePageTitle3()[pri:0, instance:google.GoogleTest@2f67b837]">verifyGooglePageTitle3</td> 
  <td>TestNG-test=Google-1@1936011931</td>   <td></td> </tr>
</table>
