<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Automation</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="d475b4">  <td>19/08/12 10:56:00</td>   <td>0</td> <td title="&gt;&gt;ExtentReport.setUp()[pri:0, instance:invoicing.AllInvoicing@2f112965]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@355790875</td>   <td></td> </tr>
<tr bgcolor="b9a692">  <td>19/08/12 10:56:00</td>   <td>344</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AllInvoicing.login(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:invoicing.AllInvoicing@2f112965]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>TestNG-test=AllInvoicing-1@822763808</td>   <td></td> </tr>
<tr bgcolor="8885ab">  <td>19/08/12 10:56:00</td>   <td>345</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AllTendering.createLoad(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, org.testng.ITestResult)[pri:0, instance:tendering.AllTendering@33afa13b]">&gt;&gt;createLoad</td> 
<td>&nbsp;</td>  <td>TestNG-test=AllTendering-1@1301332871</td>   <td></td> </tr>
<tr bgcolor="b794e2">  <td>19/08/12 10:56:00</td>   <td>346</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AllRates.login(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:rates.AllRates@f8c1ddd]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>TestNG-test=AllRates-1@2053220394</td>   <td></td> </tr>
<tr bgcolor="b9a692">  <td>19/08/12 10:56:00</td>   <td>462</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AllInvoicing.invoicing_formatting(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:invoicing.AllInvoicing@2f112965]">invoicing_formatting</td> 
  <td>TestNG-test=AllInvoicing-1@822763808</td>   <td></td> </tr>
<tr bgcolor="b9a692">  <td>19/08/12 10:56:00</td>   <td>465</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AllInvoicing.getResult(org.testng.ITestResult, java.lang.String, java.lang.String)[pri:0, instance:invoicing.AllInvoicing@2f112965]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>TestNG-test=AllInvoicing-1@822763808</td>   <td></td> </tr>
<tr bgcolor="b794e2">  <td>19/08/12 10:56:00</td>   <td>443</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AllRates.rate_ziptozip(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:rates.AllRates@f8c1ddd]">rate_ziptozip</td> 
  <td>TestNG-test=AllRates-1@2053220394</td>   <td></td> </tr>
<tr bgcolor="b794e2">  <td>19/08/12 10:56:00</td>   <td>468</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AllRates.getResult(org.testng.ITestResult, java.lang.String, java.lang.String)[pri:0, instance:rates.AllRates@f8c1ddd]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>TestNG-test=AllRates-1@2053220394</td>   <td></td> </tr>
<tr bgcolor="8885ab">  <td>19/08/12 10:56:00</td>   <td>463</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AllTendering.tendering_create()[pri:0, instance:tendering.AllTendering@33afa13b]">tendering_create</td> 
  <td>TestNG-test=AllTendering-1@1301332871</td>   <td></td> </tr>
<tr bgcolor="8885ab">  <td>19/08/12 10:56:00</td>   <td>470</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AllTendering.getResult(org.testng.ITestResult, java.lang.String, java.lang.String)[pri:0, instance:tendering.AllTendering@33afa13b]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>TestNG-test=AllTendering-1@1301332871</td>   <td></td> </tr>
<tr bgcolor="b9a692">  <td>19/08/12 10:56:00</td>   <td>565</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AllInvoicing.login(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:invoicing.AllInvoicing@2f112965]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>TestNG-test=AllInvoicing-1@822763808</td>   <td></td> </tr>
<tr bgcolor="8885ab">  <td>19/08/12 10:56:00</td>   <td>580</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AllTendering.createLoad(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, org.testng.ITestResult)[pri:0, instance:tendering.AllTendering@33afa13b]">&gt;&gt;createLoad</td> 
<td>&nbsp;</td>  <td>TestNG-test=AllTendering-1@1301332871</td>   <td></td> </tr>
<tr bgcolor="b794e2">  <td>19/08/12 10:56:00</td>   <td>586</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AllRates.login(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:rates.AllRates@f8c1ddd]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>TestNG-test=AllRates-1@2053220394</td>   <td></td> </tr>
<tr bgcolor="b9a692">  <td>19/08/12 10:56:00</td>   <td>583</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AllInvoicing.invoicing_withpending(java.lang.String, java.lang.String)[pri:0, instance:invoicing.AllInvoicing@2f112965]">invoicing_withpending</td> 
  <td>TestNG-test=AllInvoicing-1@822763808</td>   <td></td> </tr>
<tr bgcolor="b9a692">  <td>19/08/12 10:56:00</td>   <td>586</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AllInvoicing.getResult(org.testng.ITestResult, java.lang.String, java.lang.String)[pri:0, instance:invoicing.AllInvoicing@2f112965]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>TestNG-test=AllInvoicing-1@822763808</td>   <td></td> </tr>
<tr bgcolor="b9a692">  <td>19/08/12 10:56:00</td>   <td>598</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AllInvoicing.login(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:invoicing.AllInvoicing@2f112965]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>TestNG-test=AllInvoicing-1@822763808</td>   <td></td> </tr>
<tr bgcolor="8885ab">  <td>19/08/12 10:56:00</td>   <td>623</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AllTendering.tendering_accept()[pri:0, instance:tendering.AllTendering@33afa13b]">tendering_accept</td> 
  <td>TestNG-test=AllTendering-1@1301332871</td>   <td></td> </tr>
<tr bgcolor="8885ab">  <td>19/08/12 10:56:00</td>   <td>630</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AllTendering.getResult(org.testng.ITestResult, java.lang.String, java.lang.String)[pri:0, instance:tendering.AllTendering@33afa13b]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>TestNG-test=AllTendering-1@1301332871</td>   <td></td> </tr>
<tr bgcolor="8885ab">  <td>19/08/12 10:56:00</td>   <td>640</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AllTendering.createLoad(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, org.testng.ITestResult)[pri:0, instance:tendering.AllTendering@33afa13b]">&gt;&gt;createLoad</td> 
<td>&nbsp;</td>  <td>TestNG-test=AllTendering-1@1301332871</td>   <td></td> </tr>
<tr bgcolor="b9a692">  <td>19/08/12 10:56:00</td>   <td>619</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AllInvoicing.invoicing_withoutpending(java.lang.String, java.lang.String)[pri:0, instance:invoicing.AllInvoicing@2f112965]">invoicing_withoutpending</td> 
  <td>TestNG-test=AllInvoicing-1@822763808</td>   <td></td> </tr>
<tr bgcolor="b9a692">  <td>19/08/12 10:56:00</td>   <td>655</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AllInvoicing.getResult(org.testng.ITestResult, java.lang.String, java.lang.String)[pri:0, instance:invoicing.AllInvoicing@2f112965]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>TestNG-test=AllInvoicing-1@822763808</td>   <td></td> </tr>
<tr bgcolor="b794e2">  <td>19/08/12 10:56:00</td>   <td>633</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AllRates.rate_state(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:rates.AllRates@f8c1ddd]">rate_state</td> 
  <td>TestNG-test=AllRates-1@2053220394</td>   <td></td> </tr>
<tr bgcolor="b794e2">  <td>19/08/12 10:56:00</td>   <td>661</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AllRates.getResult(org.testng.ITestResult, java.lang.String, java.lang.String)[pri:0, instance:rates.AllRates@f8c1ddd]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>TestNG-test=AllRates-1@2053220394</td>   <td></td> </tr>
<tr bgcolor="8885ab">  <td>19/08/12 10:56:00</td>   <td>669</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AllTendering.tendering_reject()[pri:0, instance:tendering.AllTendering@33afa13b]">tendering_reject</td> 
  <td>TestNG-test=AllTendering-1@1301332871</td>   <td></td> </tr>
<tr bgcolor="b9a692">  <td>19/08/12 10:56:00</td>   <td>688</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AllInvoicing.login(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:invoicing.AllInvoicing@2f112965]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>TestNG-test=AllInvoicing-1@822763808</td>   <td></td> </tr>
<tr bgcolor="8885ab">  <td>19/08/12 10:56:01</td>   <td>811</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AllTendering.getResult(org.testng.ITestResult, java.lang.String, java.lang.String)[pri:0, instance:tendering.AllTendering@33afa13b]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>TestNG-test=AllTendering-1@1301332871</td>   <td></td> </tr>
<tr bgcolor="b9a692">  <td>19/08/12 10:56:01</td>   <td>812</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AllInvoicing.invoicing_duplicate(java.lang.String, java.lang.String)[pri:0, instance:invoicing.AllInvoicing@2f112965]">invoicing_duplicate</td> 
  <td>TestNG-test=AllInvoicing-1@822763808</td>   <td></td> </tr>
<tr bgcolor="b9a692">  <td>19/08/12 10:56:01</td>   <td>818</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AllInvoicing.getResult(org.testng.ITestResult, java.lang.String, java.lang.String)[pri:0, instance:invoicing.AllInvoicing@2f112965]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>TestNG-test=AllInvoicing-1@822763808</td>   <td></td> </tr>
<tr bgcolor="b794e2">  <td>19/08/12 10:56:01</td>   <td>874</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AllRates.login(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:rates.AllRates@f8c1ddd]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>TestNG-test=AllRates-1@2053220394</td>   <td></td> </tr>
<tr bgcolor="b794e2">  <td>19/08/12 10:56:01</td>   <td>889</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AllRates.rate_citystatezip(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:rates.AllRates@f8c1ddd]">rate_citystatezip</td> 
  <td>TestNG-test=AllRates-1@2053220394</td>   <td></td> </tr>
<tr bgcolor="b794e2">  <td>19/08/12 10:56:01</td>   <td>895</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AllRates.getResult(org.testng.ITestResult, java.lang.String, java.lang.String)[pri:0, instance:rates.AllRates@f8c1ddd]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>TestNG-test=AllRates-1@2053220394</td>   <td></td> </tr>
<tr bgcolor="b794e2">  <td>19/08/12 10:56:01</td>   <td>943</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AllRates.login(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:rates.AllRates@f8c1ddd]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>TestNG-test=AllRates-1@2053220394</td>   <td></td> </tr>
<tr bgcolor="8885ab">  <td>19/08/12 10:56:01</td>   <td>961</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AllTendering.createLoad(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, org.testng.ITestResult)[pri:0, instance:tendering.AllTendering@33afa13b]">&gt;&gt;createLoad</td> 
<td>&nbsp;</td>  <td>TestNG-test=AllTendering-1@1301332871</td>   <td></td> </tr>
<tr bgcolor="b794e2">  <td>19/08/12 10:56:01</td>   <td>950</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AllRates.rate_zip(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:rates.AllRates@f8c1ddd]">rate_zip</td> 
  <td>TestNG-test=AllRates-1@2053220394</td>   <td></td> </tr>
<tr bgcolor="b794e2">  <td>19/08/12 10:56:01</td>   <td>979</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AllRates.getResult(org.testng.ITestResult, java.lang.String, java.lang.String)[pri:0, instance:rates.AllRates@f8c1ddd]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>TestNG-test=AllRates-1@2053220394</td>   <td></td> </tr>
<tr bgcolor="b9a692">  <td>19/08/12 10:56:01</td>   <td>1044</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AllInvoicing.login(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:invoicing.AllInvoicing@2f112965]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>TestNG-test=AllInvoicing-1@822763808</td>   <td></td> </tr>
<tr bgcolor="b9a692">  <td>19/08/12 10:56:01</td>   <td>1050</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AllInvoicing.invoicing_ltlwithin(java.lang.String, java.lang.String)[pri:0, instance:invoicing.AllInvoicing@2f112965]">invoicing_ltlwithin</td> 
  <td>TestNG-test=AllInvoicing-1@822763808</td>   <td></td> </tr>
<tr bgcolor="b9a692">  <td>19/08/12 10:56:01</td>   <td>1052</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AllInvoicing.getResult(org.testng.ITestResult, java.lang.String, java.lang.String)[pri:0, instance:invoicing.AllInvoicing@2f112965]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>TestNG-test=AllInvoicing-1@822763808</td>   <td></td> </tr>
<tr bgcolor="8885ab">  <td>19/08/12 10:56:01</td>   <td>1056</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AllTendering.tendering_expire()[pri:0, instance:tendering.AllTendering@33afa13b]">tendering_expire</td> 
  <td>TestNG-test=AllTendering-1@1301332871</td>   <td></td> </tr>
<tr bgcolor="8885ab">  <td>19/08/12 10:56:01</td>   <td>1058</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AllTendering.getResult(org.testng.ITestResult, java.lang.String, java.lang.String)[pri:0, instance:tendering.AllTendering@33afa13b]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>TestNG-test=AllTendering-1@1301332871</td>   <td></td> </tr>
<tr bgcolor="b794e2">  <td>19/08/12 10:56:01</td>   <td>1068</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AllRates.login(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:rates.AllRates@f8c1ddd]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>TestNG-test=AllRates-1@2053220394</td>   <td></td> </tr>
<tr bgcolor="b9a692">  <td>19/08/12 10:56:01</td>   <td>1068</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AllInvoicing.login(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:invoicing.AllInvoicing@2f112965]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>TestNG-test=AllInvoicing-1@822763808</td>   <td></td> </tr>
<tr bgcolor="b794e2">  <td>19/08/12 10:56:01</td>   <td>1086</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AllRates.rate_smc(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:rates.AllRates@f8c1ddd]">rate_smc</td> 
  <td>TestNG-test=AllRates-1@2053220394</td>   <td></td> </tr>
<tr bgcolor="b794e2">  <td>19/08/12 10:56:01</td>   <td>1096</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AllRates.getResult(org.testng.ITestResult, java.lang.String, java.lang.String)[pri:0, instance:rates.AllRates@f8c1ddd]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>TestNG-test=AllRates-1@2053220394</td>   <td></td> </tr>
<tr bgcolor="b9a692">  <td>19/08/12 10:56:01</td>   <td>1082</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AllInvoicing.invoicing_tlwithin(java.lang.String, java.lang.String)[pri:0, instance:invoicing.AllInvoicing@2f112965]">invoicing_tlwithin</td> 
  <td>TestNG-test=AllInvoicing-1@822763808</td>   <td></td> </tr>
<tr bgcolor="b9a692">  <td>19/08/12 10:56:01</td>   <td>1100</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AllInvoicing.getResult(org.testng.ITestResult, java.lang.String, java.lang.String)[pri:0, instance:invoicing.AllInvoicing@2f112965]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>TestNG-test=AllInvoicing-1@822763808</td>   <td></td> </tr>
<tr bgcolor="8885ab">  <td>19/08/12 10:56:01</td>   <td>1118</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AllTendering.createLoad(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, org.testng.ITestResult)[pri:0, instance:tendering.AllTendering@33afa13b]">&gt;&gt;createLoad</td> 
<td>&nbsp;</td>  <td>TestNG-test=AllTendering-1@1301332871</td>   <td></td> </tr>
<tr bgcolor="8885ab">  <td>19/08/12 10:56:01</td>   <td>1126</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AllTendering.tendering_endtoend()[pri:0, instance:tendering.AllTendering@33afa13b]">tendering_endtoend</td> 
  <td>TestNG-test=AllTendering-1@1301332871</td>   <td></td> </tr>
<tr bgcolor="8885ab">  <td>19/08/12 10:56:01</td>   <td>1128</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AllTendering.getResult(org.testng.ITestResult, java.lang.String, java.lang.String)[pri:0, instance:tendering.AllTendering@33afa13b]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>TestNG-test=AllTendering-1@1301332871</td>   <td></td> </tr>
<tr bgcolor="b9a692">  <td>19/08/12 10:56:01</td>   <td>1174</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AllInvoicing.login(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:invoicing.AllInvoicing@2f112965]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>TestNG-test=AllInvoicing-1@822763808</td>   <td></td> </tr>
<tr bgcolor="b9a692">  <td>19/08/12 10:56:01</td>   <td>1184</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AllInvoicing.invoicing_ltlwithout(java.lang.String, java.lang.String)[pri:0, instance:invoicing.AllInvoicing@2f112965]">invoicing_ltlwithout</td> 
  <td>TestNG-test=AllInvoicing-1@822763808</td>   <td></td> </tr>
<tr bgcolor="b9a692">  <td>19/08/12 10:56:01</td>   <td>1188</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AllInvoicing.getResult(org.testng.ITestResult, java.lang.String, java.lang.String)[pri:0, instance:invoicing.AllInvoicing@2f112965]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>TestNG-test=AllInvoicing-1@822763808</td>   <td></td> </tr>
<tr bgcolor="b9a692">  <td>19/08/12 10:56:01</td>   <td>1202</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AllInvoicing.login(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:invoicing.AllInvoicing@2f112965]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>TestNG-test=AllInvoicing-1@822763808</td>   <td></td> </tr>
<tr bgcolor="b9a692">  <td>19/08/12 10:56:01</td>   <td>1208</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AllInvoicing.invoicing_tlwithout(java.lang.String, java.lang.String)[pri:0, instance:invoicing.AllInvoicing@2f112965]">invoicing_tlwithout</td> 
  <td>TestNG-test=AllInvoicing-1@822763808</td>   <td></td> </tr>
<tr bgcolor="b9a692">  <td>19/08/12 10:56:01</td>   <td>1211</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AllInvoicing.getResult(org.testng.ITestResult, java.lang.String, java.lang.String)[pri:0, instance:invoicing.AllInvoicing@2f112965]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>TestNG-test=AllInvoicing-1@822763808</td>   <td></td> </tr>
<tr bgcolor="d475b4">  <td>19/08/12 10:56:02</td>   <td>1939</td> <td title="&lt;&lt;ExtentReport.tearDown()[pri:0, instance:invoicing.AllInvoicing@2f112965]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@355790875</td>   <td></td> </tr>
</table>
